@font-face {
  font-family: 'Spaciouo';
  font-style: normal;
  font-weight: 400;
  src: url('~assets/fonts/spaciouo.ttf') format('truetype');
}
@font-face {
  font-family: 'Gentium';
  font-style: normal;
  font-weight: 400;
  src: url('~assets/fonts/Gentium.TTF') format('truetype');
}
@font-face {
  font-family: 'Infinity';
  font-style: normal;
  font-weight: 400;
  src: url('~assets/fonts/infinity.ttf') format('truetype');
}